.hub-loading-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  height: 100%;
  gap: 2rem;

  .loading-text {
    margin: 0;
    color: var(--onyx-500);
    font-size: 1.5rem;
  }
}
