.input-container {
  position: relative;
  //height: 41.59px;

  .search-icon {
    position: absolute;
    top: 0.7rem;
    inset-inline-start: 14px;
  }

  .qr-input {
    width: 100%;
    height: 100%;
    border-radius: var(--stc-radius);
    border: 1px solid var(--silver-300);
    padding-inline-start: 40px;
    transition: outline-color, border-color 0.2s ease;
    //padding-block: 10px !important;

    color: var(--gray-700);

    &:focus, &:active {
      border-color: var(--primary-500);
      outline: var(--primary-500);
    }
  }

  .clear-button {
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0.7rem;
    inset-inline-end: 1rem;
    color: var(--silver-400);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      color: var(--onyx-500);
    }
  }
}
