.p-confirmdialog {
  padding: 0.3rem;
  border-radius: var(--stc-radius) !important;

  .p-dialog-title {
    font-family: STCForward-Light, sans-serif;
    color: var(--onyx-500);
  }

  .p-dialog-header-actions {
    .p-iconwrapper {
      color: var(--onyx-900);
      filter: drop-shadow(2px 2px 6px black)
    }
  }

  .p-confirmdialog-message {
    padding: 0 0.9rem 1.4rem 0;
    color: var(--silver-600);
    line-height: 1.5;
  }
}
