.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__item {
    padding: 0.3rem 0.5rem;
    border-radius: var(--stc-radius);
    width: fit-content;
    line-height: 1;
  }
}
