// 500 IS THE BASE COLOR FOR EACH PALLET.
:root {
  // MAIN COLORS
  --primary-50: #F8F2FC;
  --primary-100: #F1E6FA;
  --primary-200: #EAD9F8;
  --primary-300: #D4B0F0;
  --primary-400: #7500D0;
  --primary-500: #4F008C;
  --primary-600: #290048;
  --primary-700: #21003A;
  --primary-800: #19002B;
  --primary-900: #0E0019;
  --secondary-50: #FFF8F9;
  --secondary-100: #FFF2F4;
  --secondary-200: #FFEBEF;
  --secondary-300: #FFD6DE;
  --secondary-400: #FF7B95;
  --secondary-500: #FF375E;
  --secondary-600: #E1002C;
  --secondary-700: #B40023;
  --secondary-800: #87001A;
  --secondary-900: #4F000F;
  --gray-0: #FFFFFF;
  --gray-50: #FBFBFC;
  --gray-100: #F5F5F5;
  --gray-200: #DEDDDD;
  --gray-300: #C4C5C5;
  --gray-400: #989696;
  --gray-500: #7D7D7D;
  --gray-600: #6E6E6E;
  --gray-700: #5E5E5E;
  --gray-800: #4C4C4C;
  --gray-900: #000000;
  --success-900: #081601;
  --success-800: #0E2602;
  --success-700: #133302;
  --success-600: #184004;
  --success-500: #308008;
  --success-400: #48C00C;
  --success-300: #C6EBB3;
  --success-200: #E4F6DA;
  --success-100: #EDF9E7;
  --success-50: #F6FCF3;
  --danger-900: #360C07;
  --danger-800: #5D140C;
  --danger-700: #7C1A10;
  --danger-600: #9B2114;
  --danger-500: #ED0C00;
  --danger-400: #FF4D43;
  --danger-300: #FFC8C5;
  --danger-200: #FFE4E3;
  --danger-100: #FFEDEC;
  --danger-50: #FFF6F5;
  --warning-900: #594D17;
  --warning-800: #998527;
  --warning-700: #CCB134;
  --warning-600: #E6C73B;
  --warning-500: #FFDD40;
  --warning-400: #FFEE9F;
  --warning-300: #FFF4C4;
  --warning-200: #FFFAE3;
  --warning-100: #FFFCEC;
  --warning-50: #FFFDF5;
  // NEUTRAL COLORS
  --monlight-900: #2F0C46;
  --monlight-800: #501478;
  --monlight-700: #6A1BA0;
  --monlight-600: #8522C9;
  --monlight-500: #A54EE1;
  --monlight-400: #C388EB;
  --monlight-300: #ECDAF9;
  --monlight-200: #F6EDFC;
  --monlight-100: #F9F3FD;
  --monlight-50: #FCF9FE;
  --silver-900: #282C2F;
  --silver-800: #444C50;
  --silver-700: #5A656B;
  --silver-600: #717E86;
  --silver-500: #89979F;
  --silver-400: #AEB8BE;
  --silver-300: #E6E9EB;
  --silver-200: #F3F4F5;
  --silver-100: #F7F8F9;
  --silver-50: #FBFBFC;
  --onyx-900: #060708;
  --onyx-800: #0A0C0E;
  --onyx-700: #0D1013;
  --onyx-600: #101418;
  --onyx-500: #1D252D;
  --onyx-400: #45586B;
  --onyx-300: #C5CBD1;
  --onyx-200: #E3E6E9;
  --onyx-100: #ECEEF0;
  --onyx-50: #F5F6F7;
  --sunset-900: #4B1203;
  --sunset-800: #801E05;
  --sunset-700: #AB2806;
  --sunset-600: #D73307;
  --sunset-500: #FF6A39;
  --sunset-400: #FB977C;
  --sunset-300: #FEDFD6;
  --sunset-200: #FEEFEB;
  --sunset-100: #FFF5F2;
  --sunset-50: #FFFAF8;
  --oases-900: #002D20;
  --oases-800: #004D37;
  --oases-700: #006649;
  --oases-600: #00805B;
  --oases-500: #00C48C;
  --oases-400: #00E6A4;
  --oases-300: #B0F7E3;
  --oases-200: #D9FBF1;
  --oases-100: #E6FDF6;
  --oases-50: #F2FEFA;
  --sea-900: #063437;
  --sea-800: #0B595E;
  --sea-700: #0E767D;
  --sea-600: #13949C;
  --sea-500: #1BCED8;
  --sea-400: #4EE1E9;
  --sea-300: #C8F6F8;
  --sea-200: #E4FBFC;
  --sea-100: #EDFCFD;
  --sea-50: #F6FDFE;
  --premium-900: #3A2B09;
  --premium-800: #634910;
  --premium-700: #846216;
  --premium-600: #A57A1B;
  --premium-500: #DCA428;
  --premium-400: #E6BD62;
  --premium-300: #F7EBCE;
  --premium-200: #FBF5E7;
  --premium-100: #FDF8EF;
  --premium-50: #FEFBF7;
  // GLOBAL CUSTOM VARIABLES
  --surface-main-bg: #F3F3F7;
  --btn-border-radius: 2px;
  --card-border-radius: 0.5rem;
  --btn-default-font-weight: 700;
  --font-family: STCForward-Regular, sans-serif;
  --font-regular: STCForward-Regular, sans-serif;
  --font-medium: STCForward-Medium, sans-serif;
  --font-size: 14px;
  --layout-gap: 15px;
  --stc-radius: 2px;
  --text-muted: #bcbcbc;
  --table-header-bg: #FCFCFD;
  --skeleton-bg: #E6E6E6;
}
