.circle-progress {
  position: relative;
  width: 170px;
  height: 170px;

  svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg); // start progress at top
  }

  circle {
    fill: none;
    stroke-width: 5; // thickness
  }

  .bg {
    stroke: var(--silver-300); // background color (track)
  }

  .progress {
    stroke: var(--secondary-500); // progress color
    transition: stroke-dashoffset 0.35s;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 3.2rem;
    color: var(--onyx-500);
  }
}
