.title-with-icon {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: var(--stc-radius);
    background-color: var(--primary-100);
  }

  &__title {
    color: var(--onyx-500);
  }
}
