.m-0 {
    margin: 0 !important;
}

.header-button {
    background: transparent !important;
    color: #8e9aa0 !important;
    border: none !important;
    font-size: 24px !important;
}

.header-button__menu {
    top: 100%;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

.d-none {
    display: none !important;
}

.table-header-bg {
  background: var(--table-header-bg) !important;
  color: var(--onyx-500) !important;
}

.blur-content {
  filter: blur(5px);
  pointer-events: none;
}

%table-status {
  padding: 0.7rem 1rem;
  border: var(--btn-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  line-height: 1;
  width: fit-content;
}

.success-status {
  @extend %table-status;

  background-color: var(--oases-100);
  color: var(--oases-500);
  border: 1px solid var(--oases-300);
}

.danger-status {
  @extend %table-status;

  background-color: var(--secondary-100);
  color: var(--secondary-500);
  border: 1px solid var(--secondary-300);
}

[dir="rtl"] {
  .back-section {
    button {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

.stc-danger {
  color: var(--secondary-500);
  font-size: 0.875rem;
}
