.service-availability {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem 0.5rem;

    &--title {
      color: var(--onyx-500);
    }
  }
}
