<div class="service-availability">
  @for (service of services(); track service.id) {
    <div class="service-availability__item">
      <div class="service-availability__item--title">{{ 'service is available' | translate}}</div>

      <p-toggleswitch [(ngModel)]="service.available" (ngModelChange)="onToggleService.emit({serviceId: service.id, isAvailable: $event})"/>
    </div>
  } @empty {
    <app-text-with-bg-color
      [textItems]="'emptyServicesMsg' | translate"
      [bgColor]="'var(--silver-100)'"
      [textColor]="'var(--onyx-500)'"
    />
  }
</div>
