:host {
  height: 100%;
}

.hub-locations-types {
  background-color: var(--gray-0);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  height: 100%;

  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.custom-actions-btn {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0 0.5rem;
  cursor: pointer;
}
