$white: #ffffff;

.p-dialog-content {
  overflow: hidden;
}

.create-location-type {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  max-height: 70vh;

  &__body {
    position: relative;

    &:has(.internal-link-survey) {
      overflow: auto;
    }

    &--form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .services-label {
        color: var(--onyx-500);
        font-family: STCForward-Medium, sans-serif;
        margin-top: 1rem;
      }
    }

    &--loader {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.6);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 1rem;
  }
}
